<div class="gerenciar-partidas-container">

    <div class="header-nav">
        <a routerLink="/area-socio">Area Sócio</a>
    </div>

    <header class="header-topo">
        <div class="titulos">
            <span class="subtitulo">PAINEL ADMINISTRATIVO</span>
            <h1 class="titulo-principal">GERENCIAR ATLETAS</h1>
        </div>

        <button class="btn-adicionar" (click)="abrirModalCadastroAtleta()">
            <mat-icon>add_circle_outline</mat-icon>
            ADICIONAR NOVO ATLETA
        </button>
    </header>

    <table mat-table [dataSource]="dataSource" class="tabela-dark">

        <ng-container matColumnDef="nome">
            <th mat-header-cell *matHeaderCellDef> NOME </th>
            <td mat-cell *matCellDef="let atleta">
                <div class="data-hora-celula">
                    <strong class="data">{{ atleta.nome }}</strong>
                </div>
            </td>
        </ng-container>

        <ng-container matColumnDef="idade">
            <th mat-header-cell *matHeaderCellDef> IDADE </th>
            <td mat-cell *matCellDef="let atleta">
                <span class="nome-adversario">{{ atleta.data_nascimento | idade }}</span>
            </td>
        </ng-container>

        <ng-container matColumnDef="numeroJogos">
            <th mat-header-cell *matHeaderCellDef> JOGOS </th>
            <td mat-cell *matCellDef="let atleta">
                <div class="placar-status-celula">
                    <span class="placar">{{ atleta.partidas }}</span>
                </div>
            </td>
        </ng-container>

        <ng-container matColumnDef="numeroGols">
            <th mat-header-cell *matHeaderCellDef> GOLS </th>
            <td mat-cell *matCellDef="let atleta">
                <div class="placar-status-celula">
                    <span class="placar">{{ atleta.gols }}</span>
                </div>
            </td>
        </ng-container>

        <ng-container matColumnDef="posicao">
            <th mat-header-cell *matHeaderCellDef> POSIÇÃO </th>
            <td mat-cell *matCellDef="let atleta">
                <span class="placar">{{atleta.posicao}}</span>
            </td>
        </ng-container>

        <ng-container matColumnDef="acoes">
            <th mat-header-cell *matHeaderCellDef> AÇÕES </th>
            <td mat-cell *matCellDef="let atleta">
                <button mat-icon-button class="btn-acao" title="Editar" (click)="editarAtleta(atleta)">
                    <mat-icon>edit</mat-icon>
                </button>
                <button mat-icon-button class="btn-acao" title="Excluir" (click)="excluirAtleta(atleta)">
                    <mat-icon>delete_outline</mat-icon>
                </button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="colunasExibidas"></tr>
        <tr mat-row *matRowDef="let row; columns: colunasExibidas;"></tr>

    </table>
</div>