<div class="links">
    <nav class="header-nav">
        <a routerLink="/">Home</a>
        <a routerLink="/elenco">Elenco</a>
        <a routerLink="/partidas">Partidas</a>
    </nav>
</div>

<section class="contato-container">
    <header class="contato-header">
        <h2 class="titulo">FALE CONOSCO</h2>
        <div class="linha-vermelha"></div>
    </header>

    <div class="contato-content">

        <div class="coluna-info">

            <div class="bloco-info">
                <h3 class="subtitulo">
                    <mat-icon>location_on</mat-icon> LOCALIZAÇÃO
                </h3>
                <div class="endereco-box">
                    <div class="icone-box"><mat-icon>stadium</mat-icon></div>
                    <div class="texto-endereco">
                        <strong>GINÁSIO CENTREVENTOS CAU HANSEN</strong>
                        <p>Rua José Vieira, 315 - América<br>Joinville/SC - Brasil</p>
                    </div>
                </div>
            </div>

            <div class="bloco-info">
                <h3 class="subtitulo mini">COMERCIAL & IMPRENSA</h3>
                <p class="dado-contato">
                    <mat-icon>mail_outline</mat-icon> contato@jeckrona.com.br
                </p>
            </div>

            <div class="bloco-info">
                <h3 class="subtitulo mini">TELEFONE</h3>
                <p class="dado-contato">
                    <mat-icon>phone</mat-icon> +55 (47) 99103-5817
                </p>
            </div>

            <div class="bloco-info">
                <h3 class="subtitulo mini">SIGA O TRICOLOR</h3>
                <div class="redes-sociais">
                    <a href="#" class="btn-social" target="_blank"><mat-icon>public</mat-icon></a>
                    <a href="#" class="btn-social" target="_blank"><mat-icon>camera_alt</mat-icon></a>
                    <a href="#" class="btn-social" target="_blank"><mat-icon>movie</mat-icon></a>
                    <a href="#" class="btn-social" target="_blank"><mat-icon>campaign</mat-icon></a>
                </div>
            </div>

        </div>

        <div class="coluna-mapa">
            <div class="mapa-wrapper">
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3576.435749449339!2d-48.84758778496881!3d-26.29958048340156!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94deafebf2e46da1%3A0xc665796a5890bd75!2sCentreventos%20Cau%20Hansen!5e0!3m2!1spt-BR!2sbr!4v1680000000000!5m2!1spt-BR!2sbr"
                    style="border:0;" allowfullscreen="" loading="lazy">
                </iframe>
            </div>
        </div>

    </div>
</section>