<div class="cadastro-container">
  <h2 class="cadastro-titulo">Cadastro de Sócio</h2>

  <form class="cadastro-form" (ngSubmit)="salvar(formulario)" #formulario="ngForm">
    <label class="form-label">
      Nome:
      <input class="form-input" name="nome" [(ngModel)]="model.nome" type="text" placeholder="Seu nome..."
        title="Digite seu nome" required />
    </label>

    <label class="form-label">
      Email:
      <input class="form-input" name="email" [(ngModel)]="model.email" type="email" placeholder="Seu email..."
        title="Digite seu email" required />
    </label>

    <label class="form-label">
      CPF:
      <input class="form-input" name="cpf" [(ngModel)]="model.cpf" type="text" placeholder="000.000.000-00"
        mask="000.000.000-00" [dropSpecialCharacters]="true" required />
    </label>

    <label class="form-label">
      Data Nascimento:
      <input class="form-input" name="dataNascimento" [(ngModel)]="model.dataNascimento" type="date"
        title="Sua data de nascimento" required />
    </label>

    <label class="form-label">
      <div class="cabecalho-label">
        <span>Modalidade:</span>
        <button class="btn-ajuda" (click)="abrirTelaAjuda()" type="button" matTooltip="Ajuda">
          <mat-icon>help</mat-icon>
        </button>
      </div>

      <select class="form-input" [(ngModel)]="planoSocio" name="plano" required>
        <option *ngFor="let plano of planosDisponiveis" [value]="plano">
          {{ plano }}
        </option>
      </select>
    </label>

    <label class="form-label">
      Senha:
      <input class="form-input" name="senha" [(ngModel)]="model.senha" type="password" placeholder="Sua senha..."
        title="Digite sua senha aqui" required />
    </label>

    <div class="botoes">
      <button class="botao-enviar" type="submit" [disabled]="!formulario.valid">Confirmar Cadastro</button>
      <button class="botao-fechar" type="button" (click)="fecharModal()">Fechar</button>
    </div>
  </form>

  <!-- <div style="background: #333; color: lime; padding: 10px; margin-top: 20px;">
    <p><strong>Status Geral do Form:</strong> {{ formulario.valid }}</p>

    <p><strong>Status por Campo:</strong></p>
    <ul>
      <li>Nome: {{ formulario.controls['nome']?.valid }}</li>
      <li>Email: {{ formulario.controls['email']?.valid }}</li>
      <li>CPF: {{ formulario.controls['cpf']?.valid }}</li>
      <li>Data Nasc: {{ formulario.controls['dataNascimento']?.valid }}</li>
      <li>Plano: {{ formulario.controls['plano']?.valid }}</li>
      <li>Senha: {{ formulario.controls['senha']?.valid }}</li>
    </ul>
  </div> -->
</div>