<header class="header">
  <h2 class="header-titulo">
    Jec Krona
    <mat-icon class="coelho">cruelty_free</mat-icon>
  </h2>

  <nav class="header-nav">
    <a routerLink="/">Home</a>
    <a routerLink="/elenco">Elenco</a>
    <a routerLink="/agenda">Agenda</a>
  </nav>
  <div class="header-actions">
    <button class="botao-cadastro" (click)="abirCadastroSocio()">
      Seja o 6º jogador
    </button>
    <button class="header-button">Sócio Torcedor</button>
  </div>
</header>
<section class="section">
  <div class="destaque-rodada">
    <h2>Destaque da rodada</h2>
    <p>
      Jec Krona vence o adversário e se mantém na liderança da liga nacional de
      futsal
    </p>
    <div class="botoes-container">
      <button class="botao-lances">
        <mat-icon>play_arrow</mat-icon> Assita aqui os lances
      </button>
      <button class="botao-tabela">Ver tabela</button>
    </div>
  </div>
</section>
<footer class="footer">
  <div class="container-footer">
    <div class="dados">
      <h2>Jec/Krona Futsal</h2>
      <div class="links-footer">
        <a routerLink="/">Patrocinadores</a>
        <a routerLink="/">Contato</a>
      </div>
    </div>
    <div class="copy-rights">
      <p>&copy;Jec/Krona Futsal. Todos os direitos reservados.</p>
    </div>
  </div>
</footer>
