<header class="header">
  <h2 class="header-titulo">
    Jec Krona
    <mat-icon class="coelho">cruelty_free</mat-icon>
  </h2>

  <nav class="header-nav">
    <a routerLink="/">Home</a>
    <a routerLink="/elenco">Elenco</a>
    <a routerLink="/partidas">Partidas</a>
  </nav>
  <div class="header-actions">
    <button class="botao-cadastro" (click)="abrirCadastroSocio()">
      Seja o 6º jogador
    </button>
    <button class="header-button" (click)="abrirLogin()">Sócio Torcedor</button>
  </div>
</header>
<section class="section">
  <div class="destaque-rodada">
    <h2>Destaque da rodada</h2>
    <p>
      Jec Krona vence o adversário e se mantém na liderança da liga nacional de
      futsal
    </p>
    <div class="botoes-container">
      <button class="botao-lances">
        <mat-icon>play_arrow</mat-icon> Assita aqui os lances
      </button>
      <a href="https://lnfoficial.com.br/classificacao/" target="_blank"><button class="botao-tabela">Ver
          tabela</button></a>
    </div>
  </div>
</section>
<footer class="footer">
  <div class="container-footer">
    <div class="dados">
      <h2>Jec/Krona Futsal</h2>
      <div class="links-footer">
        <a routerLink="/patrocinadores">Patrocinadores</a>
        <a routerLink="/contato">Contato</a>
      </div>
    </div>
    <div class="copy-rights">
      <p>&copy;Jec/Krona Futsal. Todos os direitos reservados.</p>
    </div>
  </div>
</footer>