<div class="links">
    <nav class="header-nav">
        <a routerLink="/">Home</a>
        <a routerLink="/elenco">Elenco</a>
        <a routerLink="/partidas">Partidas</a>
    </nav>
</div>
<div class="container-principal">
    <h1>Patrocinadores</h1>
    <p>O sucesso do JEC/Krona Futsal é construído em parceria com marcas que acreditam na força do esporte e na
        tradição do nosso manto tricolor.</p>

    <div class="master">
        <h3>Patrocinador Master</h3>
        <a href="https://www.krona.com.br" target="_blank" rel="noopener noreferrer">
            <img src="/assets/krona.jpg" alt="Logo da Krona">
        </a>
    </div>

    <div>
        <h4>Outros patrocinadores:</h4>

        <a href="https://opabier.com.br" target="_blank" rel="noopener noreferrer" class="imagem-patrocinador">
            <img src="/assets/opabier.jpg" alt="Logo OPA">
        </a>

        <a href="https://orbenk.com.br" target="_blank" rel="noopener noreferrer" class="imagem-patrocinador">
            <img src="/assets/orbenk.png" alt="Logo Orbenk">
        </a>

        <a href="https://sicredi.com.br" target="_blank" rel="noopener noreferrer" class="imagem-patrocinador">
            <img src="/assets/sicredi.png" alt="Logo Sicredi">
        </a>

        <a href="https://soliduz.com.br" target="_blank" rel="noopener noreferrer" class="imagem-patrocinador">
            <img src="/assets/soliduz.png" alt="Logo Soliduz">
        </a>

        <a href="https://www.asaas.com" target="_blank" rel="noopener noreferrer" class="imagem-patrocinador">
            <img src="/assets/assas2.png" alt="Logo Asaas">
        </a>
    </div>
</div>